.Parent-grid{
    background-color: #282c34;
}

.grid-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1250px;
    margin: 0 auto;

}

.grid-item {
    text-align: center;
    height: 550px;
    flex-basis: 20%;
    -ms-flex: auto;
    width: 259px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

.Movie-title{
    font-family: Roboto;
    font-size: x-large;
    color: white;
}

.Delete-symbol {
    width: 150px;
    height:150px;
    -ms-transform: rotate(45deg); /* IE 9 */
    transform: rotate(45deg);
    cursor: pointer;
    color: white;
}
@media(max-width: 1333px) {
    .grid-item {
        flex-basis: 33.33%;
    }
}@media(max-width: 1073px) {
    .grid-item {
        flex-basis: 33.33%;
    }
}@media(max-width: 815px) {
    .grid-item {
        flex-basis: 50%;
    }
}@media(max-width: 555px) {
    .grid-item {
        flex-basis: 100%;
    }
}